.pokemon-base {
  padding-bottom: 5rem;
  &__title {
    font-size: 2.4rem;
    color: white;
    margin-bottom: 1.6rem;
  }
}
.pokemon-components {
  margin-bottom: 2.5rem;
}
.list-group {
  &-item {
    border: 1px solid green;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}
.stats {
  display: flex;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
}
.progress {
  width: 100%;
  height: auto;
  font-size: 2rem;
  border-radius: 0;
}
.progress-bar {
  padding: 1.6rem;
  text-align: right;
}
.progress-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #0453a8;
  width: 12%;
  font-size: 1.5rem;
}

.ability {
  margin-bottom: 1.2rem;
  &>div {
    background-color: red;
    padding: 0.75rem 1.25rem;
    border-radius: .75rem;
  }
  &>span{
    padding: 0 2rem;
    align-self: center;
  }
}
.card {
  border-radius: .75rem;
  padding: 2rem;
  font-size: 1.8rem;
}

.list-group-item:last-child {
  border-radius: .75rem;
}
