.row{
  justify-content: space-between;
}
.card__pokemon {
  min-height: 200px;
  border: none;
  border-radius: 1.25rem;
  margin-bottom: 30px;
  /* overflow: hidden; */
}




.card-body {
  text-align: center;
  border: 3px solid ;
  border-top: none;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  padding-top: 2rem;
}
.pokemon__name {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  color: black;
  margin-bottom: 6rem;
}
.pokemon__types {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pokemon__2-type {
  outline: none;
  border: 2px solid;
  background: none;
  width: calc(50% - 3px);
  padding: 4px 0;
  font-size: 1.4rem;
  border-radius: .75rem;
  text-transform: uppercase;
}

