
<div class="container">
  <div class="row">
    <div *ngFor="let poke of pokemon" class="col-md-3 col-sm-4 col-6">
      <div class="card card__pokemon">
        <a href="#" class="pokemon__info-link">
          <div class="pokemon__info">
            <img class="card-img-top" [src]="poke.imgUrl" alt="" />
          </div>
        </a>

        <div class="card-body">
          <p class="pokemon__name">
            {{ poke.name }}
          </p>
          <div *ngIf="poke.type_2 !== undefined" class="pokemon__types">
            <button class="pokemon__2-type">{{ poke.type_1 }}</button>
            <button class="pokemon__2-type">{{ poke.type_2 }}</button>
          </div>
          <div *ngIf="poke.type_2 === undefined" class="pokemon__types">
            <button class="pokemon__1-type">{{ poke.type_1 }}</button>
            <!-- <button class="pokemon__2-type">{{ poke.type_2 }}</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
