<header class="header">
  <div class="header__container">
    <div class="container">
      <div class="header__main">
        <div class="header__logo">
          <a href="#" class="header__logo-link">
            <img
              src="/assets/img/pokeball.png"
              alt=""
              class="header__logo-img"
            />
          </a>
        </div>

        <nav class="navigation navbar navbar-expand-lg">
          <div class="header__nav collapse navbar-collapse">
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#">Home</a>
              </li>
              <li class="nav__item">
                <a href="#">About</a>
              </li>
              <li class="nav__item">
                <a href="#">Pokedex</a>
              </li>
              <li class="nav__item">
                <a href="#">Calculator</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse">
            <input
              class="input-search form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
