.pokemon-base {
  &__title {
    font-size: 2.4rem;
    display: block;
    margin-bottom: 1.8rem;
    font-weight: 600;
  }
}
.ability {
  &__wrapper {
    background-color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
  }

  &__item {
    padding: 0.88rem 1.25rem;
    border-radius: 0.75rem;
  }

  & > span {
    padding: 0 1rem;
    align-self: center;
  }
}

.isHidden {
  // border: 1px solid;
  margin-bottom: 0.5rem;
  display: flex;
  margin-top: 1rem;
  padding: 0;
  // overflow: hidden;
}
.hidden {
  padding: 0.68rem 1.25rem;
  width: 20%;
  border-radius: .75rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.value {
  width: 80%;
  border-radius: 0;
  display: flex;
  border-radius: .75rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  p {
    width: 75%;
    align-self: center;
  }
}
.border-hidden{
  border: 2px solid;

  &:first-child{
    border-right: none;
  }
  &:last-child{
    border-left: none;
  }
}
