.pokemon__info {
  width: 100%;
  padding: 20px;
  text-align: center;
  /* background-color: red; */
  border: 3px solid;
  border-bottom: none;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
}
.card-img-top {
  width: 70%;
}
