.section {
  background-color: #001540;
}
.pokemon-detail {
  padding-top: 3.5rem;
}
.pokemon-base {
  padding-bottom: 5rem;
  &-child{
    width: calc(50% - 40px);
  }
}
.pokemon-detail {
  &__slider {
    margin-bottom: 3.5rem;
  }
}

.pokemon-slider {
  color: white;
  &__wrapper {
    font-size: 2.4rem;
    width: 33%;
  }
  &__link {
    font-size: 5rem;
  }

  &__sub-name {
    padding: 2rem;
  }

  &__main {
    &-id {
      font-size: 2.4rem;
      margin-bottom: 1rem;
    }
    &-name {
      font-size: 3.6rem;
      font-weight: 600;
    }
  }
  a {
    color: inherit;
  }
}
.pokemon-main {
  color: white;
  width: 100%;
  margin-bottom: 5rem;

  &__left,
  &__right,
  &__center {
    width: 28%;
  }
  &__left,
  &__right {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  &__center {
    &-img {
      border-radius: 50%;
      padding: 30px;
      background-color: rgba($color: #fff, $alpha: 0.3);
    }
    img {
      width: 100%;
    }
  }
}
