
.pokemon-main {
  &__title {
    font-size: 2.4rem;
    display: block;
    margin-bottom: 1.8rem;
    font-weight: 600;
  }
}

.pokemon-info {
  border: 1px solid;
  padding: 20px 15px 10px 15px;

  border-radius: .75rem;
  background-color: #fff;
  &__container {
    text-align: center;
  }
  &__wrapper{
    background-color: white;
    color: #777777;
    border: 1px solid rgba($color: #333333, $alpha: 0.4);
    border-radius: .75rem;
  }

  &__title {
    display: block;
    color: rgba($color: #333333, $alpha: .4);
    font-size: 1.2rem;
  }
  &__value {
    font-size: 1.3rem;
  }
  &__category {
    font-size: 1.6rem;
  }
}
.col-md-6, .col-md-12{
  padding: 0;
}
.info-top {
  margin-bottom: 10px;
  &-child{
    padding-right: 5px;
  }
}


