<div class="pokemon-detail__slider">
  <div class="pokemon-slider d-flex justify-content-between">
    <div
      class="pokemon-slider__wrapper pokemon-slider__left d-flex align-items-center"
    >
      <a class="pokemon-slider__link" href="#"
        ><i class="fas fa-chevron-circle-left"></i
      ></a>

      <span class="pokemon-slider__sub-name pokemon-slider__sub-name--left">
        None
      </span>
    </div>
    <div class="pokemon-slider__main d-flex flex-column text-center">
      <div class="pokemon-slider__main-id">
        {{ pokemonCurrent?.id }}
      </div>
      <div class="pokemon-slider__main-name">
        {{ pokemonCurrent?.name |titlecase  }}
      </div>
    </div>
    <div
      class="pokemon-slider__wrapper pokemon-slider__right d-flex align-items-center"
    >
      <span class="pokemon-slider__sub-name pokemon-slider__sub-name--right">
        None
      </span>
      <a class="pokemon-slider__link" href="#"
        ><i class="fas fa-chevron-circle-right"></i
      ></a>
    </div>
  </div>
</div>
