<div
  class="pokemon-main d-flex justify-content-between align-items-center"
  *ngIf="pokemonCurrent"
>
  <div class="pokemon-main__left">
    <div class="pokemon-main__types">
      <span class="pokemon-main__title">Types</span>
      <div *ngIf="pokemonCurrent.types">
        <div class="pokemon-types" *ngIf="pokemonCurrent.types[1]">
          <div class="pokemon__1-type">
            {{ pokemonCurrent.types[0].type.name }}
          </div>
          <div class="pokemon__1-type">
            {{ pokemonCurrent.types[1].type.name }}
          </div>
        </div>
        <div *ngIf="pokemonCurrent.types[1] === undefined">
          <div class="pokemon__1-type">
            {{ pokemonCurrent.types[0].type.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="pokemon-main__description">
      <span class="pokemon-main__title">Species</span>
      <div class="pokemon-main__description-content" *ngIf="species">
        {{ species["flavor_text_entries"][10]["flavor_text"] }}
      </div>
    </div>
  </div>
  <div class="pokemon-main__center">
    <div
      class="pokemon-main__center-img"
      [style.background]="'rgba(' + color + ',0.9)'"
    >
      <img
        class="card-img-top"
        [src]="
          pokemonCurrent['sprites']?.other['official-artwork']['front_default']
        "
        crossorigin
      />
    </div>
  </div>
  <div class="pokemon-main__right">
    <div class="pokemon-info">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="pokemon-info__height">
              <span class="pokemon-info__title">Height</span>
              <span class="pokemon-info__value">{{
                pokemonCurrent.height | feet: "dm"
              }}</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="pokemon-info__category">
              <span class="pokemon-info__title">Category</span>
              <span class="pokemon-info__value" *ngIf="species">{{species['genera'][7].genus}}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="pokemon-info__weight">
              <span class="pokemon-info__title">Weight</span>
              <span class="pokemon-info__value">{{
                pokemonCurrent.weight | pound: "hg":1
              }}</span>
            </div>
          </div>
          <!-- <div class="col-md-6">
            <div class="pokemon-info__gender">
              <span class="pokemon-info__title">Gender</span>
              <span class="pokemon-info__value">1m</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <!-- <h2>{{ pokemon.types[0].type.name }}</h2> -->
</div>
